//<--0-->// Default Color //<--0-->//

:root {
  --body: #141410;
  --white: #ffffff;
  --title: #181818;
  --mtitle: #000d27;
  --pra: #999999;
  --subtitle: #121212;
  --base: #c9f31d;
  --hover: #c2ec1d9e;
  --bg1: #e9f0ff;
  --ftext: #818181;
  --footer: #181818;
  --cusborder: rgb(38, 37, 37);
  --border1: #414141;
  --ratting: #ffa311;
  --bgsection: #000d27;
  --success: #3fca90;
  --danger: #ed5050;
  --boxes1: rgba(26, 77, 190, 0.05);
  --cborder: #d9d9d9;
}

//<--0-->// Default Color //<--0-->//
