.blog__bitem {
  .thumb {
    overflow: hidden;
    display: block;
    img {
      width: 100%;
      overflow: hidden;
      transition: all 0.4s;
    }
  }
  .content {
    width: 90%;
    background: var(--body);
    border-top-right-radius: 8px;
    padding: 30px 14px 30px 20px;
    transform: translateY(-70px);
    margin-bottom: -70px;
    .bdate {
      margin-bottom: 30px;
    }
    h3 {
      border-bottom: 1px solid var(--cusborder);
      padding-bottom: 30px;
      margin-bottom: 30px;
      font-size: 36px;
      a {
        color: var(--white);
        transition: all 0.4s;
      }
    }
    p {
      margin-bottom: 30px;
    }
    .cmn--btn {
      width: 200px;
      justify-content: center;
    }
  }
  &:hover {
    .thumb {
      img {
        transform: scale(1.025);
      }
    }
    .content {
      h3 {
        a {
          color: var(--base);
        }
      }
    }
  }
  @include breakpoint(max-xl) {
    .content {
      width: 90%;
      padding: 20px 10px 20px 0px;
      .bdate {
        margin-bottom: 18px;
      }
      h3 {
        padding-bottom: 24px;
        margin-bottom: 22px;
        font-size: 29px;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
  @include breakpoint(max-sm) {
    .content {
      transform: translateY(-0px);
      margin-bottom: -0px;
      width: 100%;
      padding: 20px 10px 20px 0px;
      .bdate {
        margin-bottom: 18px;
      }
      h3 {
        padding-bottom: 20px;
        margin-bottom: 18px;
        line-height: 36px;
        font-size: 24px;
      }
      p {
        margin-bottom: 24px;
      }
    }
  }
}
