//<<<--- project --->>>>//
.project__wrapone {
  columns: 2;
  gap: 58px;
  @include breakpoint(max-xl) {
    gap: 40px;
  }
  @include breakpoint(max-lg) {
    gap: 45px;
  }
  @include breakpoint(max-lg) {
    gap: 30px;
  }
  @include breakpoint(max-md) {
    columns: 1;
  }
}
.project__wraptwo {
  padding-left: 18px;
  @include breakpoint(max-xl) {
    padding-left: 10px;
  }
  @include breakpoint(max-lg) {
    padding-left: 6px;
  }
  @include breakpoint(max-lg) {
    padding-left: 2px;
  }
}

.common__sub {
  font-size: 24px;
  font-family: "Caveat", cursive;
  color: rgb(201, 243, 29);
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  width: 333px;
  margin: 0 auto 30px;
  &::after,
  &::before {
    position: absolute;
    content: "";
  }
  &::before {
    left: 0;
    width: 80px;
    height: 1px;
    background: var(--base);
  }
  &::after {
    right: 0;
    width: 80px;
    height: 1px;
    background: var(--base);
  }
  @include breakpoint(max-xs) {
    width: 280px;
    gap: 14px;
    &::before {
      left: 0;
      width: 50px;
      height: 1px;
      background: var(--base);
    }
    &::after {
      right: 0;
      width: 50px;
      height: 1px;
      background: var(--base);
    }
  }
}

.custom__hover {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  @include breakpoint(max-xxl) {
    margin-top: 60px;
  }
  @include breakpoint(max-md) {
    margin-top: 40px;
    // justify-content: flex-start;
  }
}
