.sponsor__area {
  .sponsor__title {
    text-align: center;
    margin: 0 auto 60px;
  }
  @include breakpoint(max-xxl) {
    margin: 0 auto 40px;
  }
  .swiper-wrapper {
    justify-content: space-between;
  }
}
.sponsor__slide {
  text-align: center;
  position: relative;
  img {
    transition: all 0.4s;
  }
  &:hover {
    img {
      filter: brightness(2);
    }
  }
}
