@import "../../sass/default/variable";
.st-page-not-found {
  height: calc(100vh - 80px);

  h3 {
    font-size: 120px;
    color: $dark-color3;
    text-shadow:
      1px 1px 0 $base-color1,
      1px -1px 0 $base-color1,
      -1px 1px 0 $base-color1,
      -1px -1px 0 $base-color1;
  }

  h4 {
    color: $base-color1;
  }

  p {
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}
